<div class="login">
    <div class="space">
    </div>
    <span>Sign in with your Google Account</span>
    <form action="" id="login-form" no-validate>
        <div id="u" class="form-group">
            <input id="username" ng-model="username" spellcheck=false class="form-control" name="username" type="text" size="18" alt="login" required="">
            <span class="form-highlight"></span>
            <span class="form-bar"></span>
            <label for="username" class="float-label">E-mail</label>            
        </div>
        <div id="p" class="form-group">
            <input id="password" ng-model="password" class="form-control" spellcheck=false name="password" type="password" size="18" alt="login" required="">
            <span class="form-highlight"></span>
            <span class="form-bar"></span>
            <label for="password" class="float-label">Senha</label>           
        </div>
        <div class="form-group">
            <input type="checkbox" id="rem">
            <label for="rem">continuar conectado</label>
            <a id="submit" ng-click="Login()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ripple>Login</a>
        </div>
    </form>
    <footer><a href="#/register">Criar uma conta</a></footer>
</div>    